.btn-search-meal {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    background-color: #004af1;
    color:white;
}

.btn-search-meal:hover {
    background-color:#003ec9;
    color:#d2d2d2;
    text-decoration:none;
}

.nohover {
    color:white;
    text-decoration:none;
}

.nohover:hover {
    color:#d2d2d2;
    text-decoration:none;
}