.select-meal-item {
    list-style-type:none;
    background-color:#d2d2d2;
    padding:5px;
    border-radius:100px;
    margin:10px;
}

.select-meal-item:hover {
    background-color:#c2c2c2;
    cursor:pointer;
}

.selected {
    background-color:#89acfa;
}

.selected:hover {
    background-color: #6997ff;
    cursor:pointer;
}

.meal-img {
    border-radius:50%;
    border-style:solid;
    border-color:#002e5d;
}