.select-meal-item {
    list-style-type:none;
    background-color:#d2d2d2;
    padding:5px;
    border-radius:100px;
    margin:10px;
}

.select-meal-item:hover {
    background-color:#c2c2c2;
    cursor:pointer;
}

.selected {
    background-color:#89acfa;
}

.selected:hover {
    background-color: #6997ff;
    cursor:pointer;
}

.meal-img {
    border-radius:50%;
    border-style:solid;
    border-color:#002e5d;
    height:100px;
    width:100px;
    object-fit:cover;
}

.submit-button {
    min-width: 150px;
    height: 50px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    background-color: #fff
}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    cursor: pointer;
    transform: translateY(2px);
    background-color: rgb(250,250,250);
}