.p-5 {
    padding:5px !important;
}

.m-30 {
    margin: 30px;
}

.m-20 {
    margin: 20px;
}

.mr-5p {
    margin-right: 5%;
}

.ml-5p {
    margin-left: 5%;
}

.mlr-75 {
    margin: 0 75px 0 75px;
}

.mr-235 {
    margin-right: 235px;
}

.font-tahoma {
    font-family: "Tahoma";
}

.border {
    border: 1px solid !important;
}

.border-2 {
    border-width: 2px;
}

.box {
    box-shadow: 8px 8px 5px lightgrey;
    border-radius: 25px;
    padding: 15px;
}

.max-w-1200 {
    max-width: 1200px;
}

.min-w-1200 {
    min-width: 1200px;
}

.min-h-500 {
    min-height: 500px;
}

.min-h-200 {
    min-height: 200px;
}

.m-50-auto {
    margin: 50px auto;
}

.midnight-blue {
    color: rgb(20,20,135);
}

.font-36 {
    font-size: 36px;
}

.font-24 {
    font-size: 24px;
}

.brand {
    font-weight: bold;
    font-size: 45px;
    height: 110px;
    font-family: "Tahoma";
    padding-top: 15px;
}

.border-round {
    border-radius: 55px;
}

.w-100p {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex:3;
}

.bg-lightest-grey {
    background-color: rgb(245,245,245);
}

.transparent {
    background-color: transparent;
}

.font-darkgrey {
    color: darkgrey;
}


body {
  margin-bottom: 50px;
  background-color: rgb(230,230,230);
  font-family: "Tahoma"
}

.listing {
  position: relative;
  z-index: 0;
}

.overflow-auto {
    overflow: auto;
}

@media (max-device-width: 480px) {
    .min-h-screen {
        height: 300px;
    }
}

@media (min-device-width: 480px) {
    .min-h-screen {
        height: 650px;
    }
}

.meal-list, .shopping-list {
    padding:5px;
    background-color:#d2d2d2;
    border-radius:25px;
    border-style:none;
}

.meal-list h4, .shopping-list h4{
    margin:20px;
    padding:5px;
    border-radius:25px;
    background-color:#b2b2b2;
}

.meal-img-home {
    border-radius:50%;
    object-fit:cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:200px;
    text-align:center;
}

.meal {
    margin:20px;
}